extends layout

block meta
    meta(name="Name" content="Random house generator")
    meta(name="Description" content="Generates a random house")

block script
    script(src="/script/genHouse/script.js")

block content
    canvas(id="canvas" width="1200" height="600")
